#register .box,
#statistic .box {
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
}
#register .logo img,
#statistic .logo img {
    height: 100px;
    margin: 5px;
}
#register .box h1,
#statistic .box h1 {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 28pt;
    text-align: center;
}
#register .box span,
#statistic .box span {
    margin-bottom: 10px;
    display: block;
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
#statistic .box #final-score {
    font-style: normal;
    font-weight: bolder;
    font-size: 36pt;
    color: var(--theme-color);
}
#register-form .theme-selector {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px 10px;
    cursor: pointer;
    border: 3px solid white;
}
#register-form .theme-selector:hover {
    border-color: black;
}
#register-form .theme-selector.selected {
    border-color: black;
}
#register-form input {
    padding: auto 10px;
}
#register-form button {
    margin-top: 20px;
}
#contest {
    width: 100vw;
    height: 100vh;
    padding: 30px;
}
#top-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
#top-bar .box {
    height: 70px;
    background-color: white;
    border-radius: 10px;
}
#top-bar #user-card {
    width: 100%;
    margin-right: 15px;
}
#top-bar #timer {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#top-bar #timer #timer-txt {
    font-size: 28pt;
    font-weight: bold;
}
#user-card {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 20px;
}
#workspace {
    width: 100%;
    height: calc(100vh - 150px);
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
}
#nav-bar {
    width: 60px;
    padding: 15px 5px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}
#nav-bar div {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
#nav-bar div:last-child {
    margin-bottom: 0;
}
#nav-bar div:hover {
    border: 2px solid var(--theme-color);
}
#nav-bar div.selected svg path {
    stroke: white;
}
#nav-bar div.selected {
    background-color: var(--theme-color);
}
#nav-bar #exit-btn {
    margin-top: auto;
    margin-bottom: 0;
}
#nav-bar #exit-btn:hover {
    border: 0;
    background-color: red;
}
#nav-bar #exit-btn:hover svg path {
    stroke: white;
}
.workspace-window {
    width: 100%;
    margin-left: 15px;
}
.workspace-window div {
    width: 100%;
    height: 100%;
    display: flex;

    flex-direction: column;
}
.workspace-window div h1 {
    margin-bottom: 15px;
}
#problem-display {
    margin-top: 15px;
    width: 100%;
    height: 100%;
}
#submit-form {
    margin-bottom: 30px;
}
#submit-form div {
    height: auto;
    margin-bottom: 10px;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#submit-form div select {
    margin-right: 10px;
}
#submission-list div.submission {
    height: 50px;
    margin-bottom: 15px;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    padding: 0;
}
#submission-list div.submission div {
    margin-right: 10px;
}
#submission-list div.submission.hidden {
	display: none;
}
#submission-list div.submission .color-indicator {
    width: 20px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background-color: grey;
}
#submission-list div.submission .description {
    padding: 5px;
    display: flex;
    flex-direction: column;
}
#submission-list div.submission .result {
    width: auto;
    padding: 10px;
    margin-left: auto;
    flex-direction: row;
    align-items: center;
}
#submission-list div.submission .result .status {
    font-weight: bold;
}
#submission-list div.submission .result .time {
    margin-left: 10px;
    font-style: italic;
}
#ranking .contestant {
    width: 100%;
    height: 70px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
}
#ranking .contestant.hidden {
    display: none;
}
#ranking .contestant div {
    margin-right: 10px;
}
#ranking .contestant .color-indicator {
    width: 20px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background-color: grey;
}
#ranking .contestant .description {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#user-card .result,
#ranking .contestant .result {
    padding: 15px;
    width: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
#user-card .result div,
#ranking .contestant .result div {
    margin-right: 0;
    border-right: 2px solid grey;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#user-card .result div.hidden,
#ranking .contestant .result div.hidden {
    display: none;
}
#user-card .result div:last-child,
#ranking .contestant .result div:last-child {
    margin-left: 15px;
    border-right: 0;
    font-size: 18pt;
    font-weight: bold;
}
